{% extends 'main/base.html' %}

{% block content %}
{% load static %}
<main class="container">


  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Scenes</h1>
        <p class="lead text-body-secondary">Explore various 3D scenes created using Three.js and Django. <br>Click on any scene to view it in action.</p>
      </div>
    </div>
  </section>

<div class="album py-5 bg-body-tertiary">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img class="bd-placeholder-img card-img-top" src="{% static 'img/lorenz.png' %}" width="100%" height="225" alt="Thumbnail">
          <div class="card-body">
            <p class="card-text">Explore the Lorenz attractor animation.</p>
            <div class="d-flex justify-content-between align-items-center">
              <a href="{% url 'scenes' %}#/scene1" class="btn btn-sm btn-primary" role="button">View</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img class="bd-placeholder-img card-img-top" src="{% static 'img/simplex.png' %}" width="100%" height="225" alt="Thumbnail">
          <div class="card-body">
            <p class="card-text">Animated periodic simplex noise on a mesh.</p>
            <div class="d-flex justify-content-between align-items-center">
              <a href="{% url 'scenes' %}#/scene2" class="btn btn-sm btn-primary" role="button">View</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img class="bd-placeholder-img card-img-top" src="{% static 'img/gerstner.png' %}" width="100%" height="225" alt="Thumbnail">
          <div class="card-body">
            <p class="card-text">Animated Gerstner waves on a mesh.</p>
            <div class="d-flex justify-content-between align-items-center">
              <a href="{% url 'scenes' %}#/scene3" class="btn btn-sm btn-primary" role="button">View</a>
            </div>
          </div>
        </div>
      </div>
    </main>
{% endblock %}