{% extends 'main/base.html' %}
{% load static %}

{% block navigation %}
<ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
</ul>
{% endblock %}

{% block content %}
<style>
    #scene-box {
    width: 100%;
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>
<main >
    <div id="scene-box"></div>
</main>
{% endblock content %}



{% block scripts %}
<script src="{% static 'js/bundle.js' %}"></script>
{% endblock scripts %}

