{% extends 'main/base.html' %}
{% load static %}

{% block navigation %}
<ul class="pagination mb-md-0">
    <li class="page-item"><a class="page-link" href="#/scene1">1</a></li>
    <li class="page-item"><a class="page-link" href="#/scene2">2</a></li>
    <li class="page-item"><a class="page-link" href="#/scene3">3</a></li>
</ul>
{% endblock %}  

{% block content %}
<style>
    #scene-box {
    width: 100%;
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>
<main >
    <div id="scene-box"></div>
</main>

{% include 'main/lorenz-speed.html' %}
{% include 'main/scene-label.html' %}
{% endblock content %}



{% block scripts %}
<script src="{% static 'js/bundle.js' %}"></script>
{% endblock scripts %}

